.form-bottom {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  width: 396px;
}

.form-bottom__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #A0A0A0;
}

.form-bottom__link {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  color: #3456F3;
}

@media screen and (max-width: 767px) {
  .form-bottom {
    width: 260px;
  }
  .form-bottom__text {
    font-size: 12px;
    line-height: 1.25;
  }
  .form-bottom__link {
    font-size: 12px;
    line-height: 1.25;
  }
}

