.footer {
  padding: 80px 70px 20px;
  background-color: #F8F8F8;
}

.footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  padding: 0 0 20px;
  border-bottom: 1px solid #E8E8E8;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__year {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #000000;
}

.footer__year-mobile {
  display: none;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #000000;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 80px 30px 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 79px 10px 10px;
  }
  .footer__title {
    font-size: 12px;
    line-height: 1.25;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .footer__year {
    display: none;
  }
  .footer__year-mobile {
    margin: 0;
    padding-top: 30px;
    display: block;
    font-size: 12px;
    line-height: 1.25;
    color: #A0A0A0;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 1.25;
  }
}